<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    {{> navbar}}

    <div class="container">
      <div class="row mt-5"></div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Dashboard for {{world}}</h1>
          {{#if user}}
          <p class="text-muted" style="font-size: 13px">You can edit your selected worlds by clicking <a href="/worldselect">here.</a></p>
          {{else}}
          <p class="text-muted" style="font-size: 13px">You can go back to world selection by clicking <a href="/worldselect">here.</a></p>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="card-deck">
            <div class="card"><br>
              <img class="card-img-top" src="/img/dashboard/leaderboard_p.png" alt="Player Leaderboards"><br>
              <div class="card-body">
                <h5 class="card-title">Player Ranking</h5>
                <p class="card-text">Get the latest player rankings for {{world}} based on bash and playerpoints.</p>
                <br><button type="button" class="btn btn-primary buttonload" onclick="loading('1'); location.href='/playerranking/{{world}}'">Open<i id="1" style="display: none" class="ml-2 fa fa-spinner fa-spin"></i></button>
              </div>
            </div>
            <div class="card"><br>
              <img class="card-img-top" src="/img/dashboard/playersearch.png" alt="Player Search"><br>
              <div class="card-body">
                <h5 class="card-title">Player Search</h5>
                <p class="card-text">Search for a specific player on {{world}} to get some detailed stats and other useful informations.</p>
                <br><button type="button" class="btn btn-primary buttonload" onclick="loading('3'); location.href='/playersearch/{{world}}'">Open<i id="3" style="display: none" class="ml-2 fa fa-spinner fa-spin"></i></button>
              </div>
            </div>
            <div class="card"><br>
              <img class="card-img-top" src="/img/dashboard/leaderboard_a.png" alt="Alliance Leaderboards"><br>
              <div class="card-body">
                <h5 class="card-title">Alliance Leaderboards</h5>
                <p class="card-text">Get the latest alliance leaderboards for {{world}} based on overall memberpoints and bash points.</p>
                <button type="button" class="btn btn-primary buttonload" onclick="loading('2'); location.href='/allianceranking/{{world}}'">Open<i id="2" style="display: none" class="ml-2 fa fa-spinner fa-spin"></i></button>
              </div>
            </div>
            <div class="card"><br><br>
              <img class="card-img-top" src="/img/dashboard/alliancesearch.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Alliance Search <span class="badge badge-success">New!</span></h5>
                <p class="card-text">Search for a specific alliance on {{world}} to get some detailed stats and other useful informations.</p>
                <br><button class="btn btn-primary buttonload" type="button" onclick="loading('4'); location.href='/alliancesearch/{{world}}'">Open<i id="4" style="display: none" class="ml-2 fa fa-spinner fa-spin"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    {{> js}}

  </body>
</html>
