<!-- https://XYZ.grepolis.com/image.php?player_id=XYZ for profilepics-->
<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

  {{> navbar}}

  <div class="container">
    <div class="row mt-5"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Player Search for {{world}}</h1>
        <p class="text-muted" style="font-size: 13px">You can go back to your dashboard by clicking <a href="/dashboard/{{world}}">here.</a></p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <div class="form-inline">
          <input class="form-control mr-2" type="search" placeholder="Enter Username" aria-label="Search" id="playerSearchInput" autofocus>
          <button class="btn btn-outline-primary" onclick="playerSearch()" id="playerSearchButton">Search</button>
        </div>
      </div>
      <div class="col-md-5"></div>
    </div>
    {{#if player}}
      <!-- if player object was given into handlebars add following html -->
      <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://{{world}}.grepolis.com/image.php?player_id={{player.playerid}}" alt="{{player.name}}'s profile picture">
            <div class="card-body">
              <h5 class="card-title"><strong>{{player.name}}</strong></h5>
              <p class="card-text">... is currently rank <strong>#{{lastOfArray player.rank}}</strong> on {{world}}.</p>
              {{#if player.allianceid}}
              <p>Alliance: <a href="/alliancesearch/{{world}}/{{player.alliancename}}">{{player.alliancename}}</a></p>
              {{/if}}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{number (lastOfArray player.points)}} <strong>points</strong></li>
              <li class="list-group-item">{{number (lastOfArray player.killsall)}} <strong>bash</strong></li>
              <li class="list-group-item">{{number (lastOfArray player.killsoff)}} <strong>bash off</strong></li>
              <li class="list-group-item">{{number (lastOfArray player.killsdef)}} <strong>bash def</strong></li>
            </ul>
            <div class="card-body">
              <button type="button" class="btn btn-primary btn-sm">Points/Activity</button>
              <button type="button" class="btn btn-primary btn-sm ml-4">Bash Statistics</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="chart0"></div>
          <div id="chart1"></div>
        </div>
        <div class="col-md-2"></div>
    {{else}}
      <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        {{#if notfound}}
          <h3 class="font-weight-light text-center">The player <strong>{{notfound}}</strong> doesn't exist on {{world}}.<br />Please enter a existing user to go on...<h3>
        {{else}}
          <h3 class="font-weight-light text-center">Enter a player name to start...<h3>
        {{/if}}
        </div>
        <div class="col-md-4"></div>
      </div>
    {{/if}}
    </div>

    {{> js}}
    <!-- Load billboard.js with style -->
    <script src="/js/billboard.min.js"></script>

    <!-- Additional JS for player search and billboard.js -->
    <script>
      function playerSearch() {
        var name = document.getElementById('playerSearchInput').value
        window.location.href = `/playersearch/{{world}}/${name}`
      }

      var input = document.getElementById("playerSearchInput")
      input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
          document.getElementById("playerSearchButton").click();
        }
      })

      bb.generate({
          bindto: "#chart0",
          data: {
              columns: [
                  ["player points"{{#each player.points}}, {{this}}{{/each}}],
                  ["activity (points)"{{#each (activity player.points player.activity)}}, {{this}}{{/each}}],
                  ["activity (killsoff)"]
              ],
              types: {
                "player points": "spline",
                "activity (points)": "area-step"
              },
              colors: {
                data1: "red",
                data2: "green"
              }
          }
      })

      bb.generate({
          bindto: "#chart1",
          data: {
              columns: [
                  ["data2", 7900822, 2906452, 4567456, 3205312, 3995318, 3902354]
              ],
              types: {
                data1: "line",
                data2: "area-spline"
              },
              colors: {
                data1: "red",
                data2: "green"
              }
          }
      })

    </script>

</body>

</html>
